

<div>
    <h1>Ticket de Compra</h1>
    <p>ID del Usuario: {{ticket.userId}}</p>
    <p>Fecha: {{ticket.date}}</p>
    <h2>Productos</h2>
    <ul>
        {{#each ticket.products}}
        <li>{{this.name}} - ${{this.price}}</li>
        {{/each}}
    </ul>
    <h3>Total: ${{ticket.totalPrice}}</h3>
</div>
